# Logs & debug
*.log

# OS junk
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*
auth.json

# Editor / IDE
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json

# Composer / NPM dependencies
/vendor
/node_modules

# Laravel build outputs
/public/build
/public/hot
/public/storage

# Laravel storage & cache
/storage/*.key
/storage/pail
/storage/framework/*
!/storage/framework/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

# Homestead
Homestead.json
Homestead.yaml
